*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    color: #333;
}

section{
    max-width:  1380px;
}

.btn{
    background-color: #e67e22;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 8px;
    text-decoration: none;
    border: 3px solid #e67e22;
    font-size: 1.3rem;
}


/*======== header =======*/
header{
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header_logo{
    width: 150px;
}
header .header_logo img{
    width: 100%;
}

.container{
    margin-left: 35px;
}
.nav-link ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 5rem;
}

.nav-link ul li{
    color: #333;
    text-decoration: none;
}

.nav-link ul li a{
    color: #333;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
}

.nav-link ul li a :hover{
    color: #e67e22;
}

/* hero-selection */
.hero{
    max-width: 1380px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.hero-section{
    background-color: #fdf2e9;
    display: flex;
    justify-content:center;
    align-items:center;
    width: 100%;
}

.hero-section .container{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-top:50px;
}
.hero .hero-content{
    width: 48%;
    margin-left: 150px;
}

.hero .hero-content .hero-title{
    font-size:3.1rem;
    line-height:1;
}

.hero .hero-content .hero-description{
    font-size:1.2rem;
    line-height:1.6;
    margin: 8% 0 9% ;
}

.hero .hero-content .btn-box{
    display: flex;
    gap: 20px;
}

.hero .hero-content .btn-box .btn-outline{
    background-color: #fdf2e9;
    border: 3px solid transparent;
    padding: 1rem 2rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.5s linear;
}

.hero .hero-content .btn-box .btn-outline:hover{
    background-color: transparent;
    border: 3px solid #fff;
    transition: 0.5s linear;
}

.hero-section .meal-delivered{
    display: flex;
    margin-top: 4rem;
}

.hero-section .meal-delivered .meal-delivered-img-box{
    display: flex;
    margin-left: 10px;
}

.hero-section .meal-delivered .meal-delivered-img-box .meal-delivered-img{
   width: 32px;
   height:32px;
   margin-left: -10px;
   border: 2px solid #fdf2e9;
   border-radius: 50%;
   overflow: hidden;
}

.hero-section .meal-delivered .meal-delivered-img-box .meal-delivered-img img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.hero-section .meal-delivered .meal-delivered-text{
    font-weight: 600;
    font-size: 1.2rem;
    display: flex;
    align-items: center;    
}

.hero-section .meal-delivered .meal-delivered-text span{
    color: #e67e22;    
}

.hero-section .hero-image{
    width:48%;
}

.hero-section .hero-image img{
    width:100%;
}

/* featured */
.featured-section{
    max-width:  1380px;
    padding: 50px 0 100px;
    margin:0 auto;
}

.featured-section{
    max-width:  1380px;
    padding: 50px 0 100px;
    margin:0 auto;
}

.featured-section h2{
    color: gray;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
}
.featured-section .featured-img-box{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.featured-section .featured-img-box .featured-img{
    height: 40px;
}
.featured-section .featured-img-box .featured-img img{
    height: 100%;
    filter: brightness(0);
    opacity: 50%;
}

/* How */

.how-section{

}

.how-section .how-heading {
    margin-bottom:100px;
}

.how-section .how-heading p{
    color:#e67e22;
    font-weight: 500;
    margin-bottom: 20px;
}

.how-section .how-heading h2{
    font-size: 45px;
}

.how-section .how-main {
    
}

.how-section .how-main .how-item:nth-child(even){
    flex-direction: row-reverse;
}

.how-section .how-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 0 ;
}

.how-section .how-main .how-img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.how-section .how-main .how-contain .how-number{
    font-size:  75px;
    font-weight: bold;
    color: #d1d1d1;
}
.how-section .how-main .how-contain h3{
    font-size: 30px;
    padding: 1rem 0 2.2rem;
}
.how-section .how-main .how-contain .how-description{
    font-size: 18px;
    line-height: 2;
}

.how-section .how-main .how-item .how-img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.how-section .how-main .how-img img{
    display: flex;
    justify-content: center;
    width: 35%;
}
.how-section .how-main .how-img::before{
    width: 60%;
    padding-bottom: 60%;
    border-radius: 50%;
    background:#fdf2e9;
    z-index: -2;
}

.how-section .how-main .how-img::after{
    width: 40%;
    padding-bottom: 40%;
    border-radius: 50%;
    background: #fae5d3;
}
.how-section .how-main .how-img::after,
.how-section .how-main .how-img::before{
    content: '';
    position: absolute;
    z-index: -1;
}